@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Open+Sans&display=swap');

@media (max-width: 999px) {
  img {
    min-width: 80px;
    max-height: 100%;
    max-width: 100%;
  }
  body {
    margin: 10px;
    line-height: 1.6;
  }
  h2 {
    font-size: 125%;
  }
  .column {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  body {
    margin: 10%;
  }
  img {
    max-height: 50%;
    max-width: 50%;
  }
}

body {
  background-color: #232323;
  color: #e0e0e0;
  font-family: "Open Sans";
  margin-top: 10px;
}

hr {
  margin: 25px;
}

/*Columns*/
.column {
  float: left;
  width: 48%;
  margin-right: 2%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*project images*/
.project_img {
  min-width: 100%;
  float: left;
}

/*header*/
h2 {
  color: #e6cfa5;
  font-family: "Palanquin";
}

/*hyperlink color*/
a {
  color: #FFBF00 ;
}

.highlight {
  color: #FFBF00;
}

.light {
  color: #dbb367;
}

/* Navigation bar styles */
.navbar {
  overflow: hidden;
  background-color: #6b6b6b4c;
}

.navbar a {
  float: left;
  display: block;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #a8730f;
}

.navbar a.active {
  background-color: #c9932e;
}

.navbar a.special {
  background-color: #726b60;
}

.ProjectsTable {
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  color: #ffffff;
}

.ProjectsTable td,
.ProjectsTable th {
  border-width: 2px;
  border-color: #e7b551;
  border-style: solid;
  padding: 10px;
}

.ProjectsTable thead {
  background-color: #dc9822;
}